<div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Done!!!</strong>Data Deleted Successfully!!!!!
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let items of collection ">
      <td>{{items.id}}</td>
       <td> {{items.name}}</td>
       <td> {{items.address}}</td>
        <td>{{items.email}}</td>
        <td><i (click)="deleteRest(items.id)" class="fa fa-trash" style="font-size: 14px;color: red;"></i>
        <a routerLink="/update/{{items.id}}"><i class="fa fa-edit"
          style="font-size:14px;color:blue;margin-left: 15px;"></i>
        </a>
        </td>

    </tr>
</tbody>
  </table>


